@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #1a73e8;
    --red: #f53d3d;
    --theme-color: #00b9fdl;
}

body {
    background-color: #181818;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.App {
    background-color: var(--back-color, aqua);
    width: 800px;
    height: 40vh;
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    position: relative;
    justify-content: center;
}

.backColorRed {
    --back-color: red;
}

.mainCredentialDiv {
    padding: 1em;
    margin: 50px;
    background-color: #fff;
    color: #000;
    height: 440px;
    width: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    transition: 0.5s ease-in-out;
    position: absolute;
    left: 0%;
    overflow: hidden;

}


.shiftRightTransition {
    left: 100%;
    transform: translateX(-120%);
}

.mainCredentialDiv h1,
#bottomPID {
    text-align: center;
    margin: 10px 0px;
}


.loginDiv,
.signupDiv {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #fff;
    position: relative;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

.signupDiv {
    gap: 2px;
    z-index: 2;
}


.backgroundLoginDiv,
.backgroundSignupDiv {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: #000;
}

.backgroundLoginDiv>button,
.backgroundSignupDiv>button {
    background-color: transparent;
    padding: 1em 2em;
    border: none;
    background-color: #fff;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.backgroundLoginDiv>button:hover,
.backgroundSignupDiv>button:hover {
    scale: 1.1;
}

.backgroundLoginDiv>button:active,
.backgroundSignupDiv>button:active {
    scale: 0.5;
}

.signUpShift {
    background-color: var(--red);
}

.signUpShift .signupDiv {
    bottom: 100%;
}

#loginBtn,
#signupBtn {
    padding: 10px;
    margin: 20px;
    margin-top: 50px;
    background-color: aqua;
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#signupBtn {
    background-color: var(--red);
    color: #fff;
}

@media (max-width:700px) {
    .shiftRightTransition {
        left: 0%;
        transform: translateX(0%);
    }

    .App {
        width: 400px;
    }

    .backgroundLoginDiv,
    .backgroundSignupDiv {
        display: none;
    }

    .mainCredentialDiv {
        margin: 0px;
        position: relative;
    }
}