@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.ToastMessage {
    display: flex;
    position: fixed;
    bottom: 2em;
    left: 0;
    flex-direction: column;
    gap: 1em;
    padding: 1em;

    max-width: 40vw;

    z-index: 10;
}

.ToastMessage>.message {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    word-wrap: break-word;
    word-break: break-all;
    background-color: var(--back-color, #ccc);


    color: var(--color, #000);
    border: none;
    border-radius: 10px;

    font-size: 1.2em;


    font-family: 'Roboto', sans-serif;

}